@import '../../node_modules/sn-stylekit/dist/stylekit.css';

body,
html {
  font-family: var(--sn-stylekit-sans-serif-font);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: var(--sn-stylekit-base-font-size);
  background-color: transparent;
}

* {
  // To prevent gray flash when focusing input on mobile Safari
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.sn-component {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .sk-panel-content {
    height: inherit !important;
  }
}

#header {
  border-bottom: 1px solid var(--sn-stylekit-border-color);
  background-color: var(--sn-stylekit-background-color);
  color: var(--sn-stylekit-foreground-color);
  padding: 13px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

#content {
  background-color: var(--sn-stylekit-contrast-background-color);
  flex: 1;
  padding: 0 10px;
}

.auth-dialog {
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.auth-overlay {
  position: fixed !important;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.auth-list {
  display: flex;
  flex-direction: column;
}

.auth-edit {
  margin: 10px 0;
}

.sk-notification {
  // Hacking sk-notification style
  overflow: visible !important; // We need this for the dropdown menu
  margin: 10px 0 0 0 !important;
  padding: 28px 14px 28px 28px !important;
}

.auth-notes-row {
  .auth-notes {
    font-size: var(--sn-stylekit-base-font-size);
    font-style: italic;
    overflow: hidden;
  }
}

// Copy token notification
.auth-copy-notification {
  position: fixed;
  left: 50%;
  bottom: 20px;
  z-index: 200;

  .sk-panel {
    border-radius: 4px;
    padding: 4px;
  }

  &.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 200ms ease-in;
  }

  &.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 500ms, opacity 500ms ease-out;
  }
}


/* entry default styles */
.auth-entry {
  display: flex;
  align-items: center;
  flex-direction: column;

  .auth-details {
    margin-bottom: 8px;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;

    .auth-info {
      margin: 4px 0;
      min-width: inherit;

      .auth-service {
        font-size: var(--sn-stylekit-font-size-h1);
        font-weight: bold;
        line-height: 1.9rem;
      }

      .auth-account {
        line-height: 1.5rem;
        font-size: var(--sn-stylekit-font-size-p);
        text-align: left;
        font-weight: normal;
        word-wrap: break-word;
      }
    }

    .auth-token-info {
      display: flex;
      align-items: center;
      padding-right: 12px;

      .auth-token {
        font-size: 2rem;
        align-self: center;
        font-weight: bold;
        color: var(--sn-stylekit-info-color);
        display: flex;
        justify-content: space-between;
        width: 8.2rem;
        cursor: pointer;
      }

      .auth-countdown {
        padding: 0 12px;

        // Countdown animation
        #countdown {
          transform: rotateY(-180deg) rotateZ(-90deg);
          height: 1.8rem;
          width: 1.8rem;
          align-self: center;

          circle {
            stroke-dasharray: 113px;
            stroke-dashoffset: 0px;
            stroke-width: 4px;
            stroke: var(--sn-stylekit-success-color);
            fill: none;
            animation: countdown 10s linear infinite forwards;
          }
        }
      }
    }
  }

  .auth-options {
    color: var(--sn-stylekit-contrast-foreground-color);
    overflow: visible;
    margin-bottom: 8px;
    align-self: flex-start;

    .sk-menu-panel {
      position: absolute;
      right: 0;
      z-index: 200;
    }
  }
}

.section-title-bar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  font-weight: 800;
}

.sk-button.constrast {
    color: var(--sn-stylekit-contrast-foreground-color);
    position: relative;
    background-color: var(--sn-stylekit-contrast-background-color);
    overflow: hidden;
    border-radius: var(--sn-stylekit-general-border-radius);
    border-color: var(--sn-stylekit-contrast-background-color);
    font-weight: normal;
}


.sk-button-row div:first-child {
  border-top-left-radius:  var(--sn-stylekit-general-border-radius);
  border-bottom-left-radius:  var(--sn-stylekit-general-border-radius);
}

.sk-button-row div:last-child {
  border-top-right-radius:  var(--sn-stylekit-general-border-radius);
  border-bottom-right-radius:  var(--sn-stylekit-general-border-radius);
}

.sk-button.lighter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--sn-stylekit-secondary-contrast-background-color);
  opacity: 1.0;
}
.sk-button.lighter::before {
  content: "";
}

.sk-button.lighter::after {
  content: "";
}

.sk-button.lighter.success1 {
  animation: successClick 2s;
  animation-fill-mode: forwards;
}

.sk-button.lighter.fail1 {
  animation: failClick 2s;
  animation-fill-mode: forwards;
}

.sk-button.lighter.reset1 {
  animation: resetClickSuccess 2s;
  animation-fill-mode: forwards;
}

.sk-button.lighter.reset2 {
  animation: resetClickError 2s;
  animation-fill-mode: forwards;
}

.sk-button.wide {
  padding: 0.3rem 1.7rem;
}

.larger {
  font-size:larger;
  font-weight: bolder;
}

.center {
  align-self:center;
}

.fill {
  flex-grow: 1;
}

@keyframes successClick {
  0% { 
    background-color: var(--sn-stylekit-secondary-contrast-background-color);
    color: var(--sn-stylekit-foreground-color);
  }

  25% {
    background-color: var(--sn-stylekit-success-color);
    color: var(--sn-stylekit-success-contrast-color);
  }

  100% {
    background-color: var(--sn-stylekit-success-color);
    color: var(--sn-stylekit-success-contrast-color);
  }
}

@keyframes failClick {
  0% { 
    background-color: var(--sn-stylekit-secondary-contrast-background-color);
    color: var(--sn-stylekit-foreground-color);
  }

  25% {
    background-color: var(--sn-stylekit-warning-color);
    color: var(--sn-stylekit-warning-contrast-color);
  }

  100% {
    background-color: var(--sn-stylekit-warning-color);
    color: var(--sn-stylekit-warning-contrast-color);
  }
}

@keyframes resetClickSuccess {
  0% { 
    background-color: var(--sn-stylekit-success-color);
    color: var(--sn-stylekit-success-contrast-color);
  }

  25% {
    background-color: var(--sn-stylekit-success-color);
    color: var(--sn-stylekit-success-contrast-color);
  }

  100% {
    background-color: var(--sn-stylekit-secondary-contrast-background-color);
    color: var(--sn-stylekit-foreground-color);
  }

}

@keyframes resetClickError {
  0% { 
    background-color: var(--sn-stylekit-warning-color);
    color: var(--sn-stylekit-warning-contrast-color);
  }

  25% {
    background-color: var(--sn-stylekit-warning-color);
    color: var(--sn-stylekit-warning-contrast-color);
  }

  100% {
    background-color: var(--sn-stylekit-secondary-contrast-background-color);
    color: var(--sn-stylekit-foreground-color);
  }

}